{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Bali/BaliFlagHeading.jpg');">
  <h1>Indonesia, (Bali)</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2019, February<br><br>
            Keegan needed to get away from it all and what better place for
            broke aussies?
            <br><br>
            We planned this trip in 4 days and boy did we get burnt, <br>
            (By the sun I mean, my legs still feel like leather).
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted preload="none" poster="../static/videos/Baliposter.jpg">
          <source src="../static/videos/Bali.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in Bali</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #B81244;"></div>

<div class="mobile-image">
  <img src="../static/images/Bali/Rafting.jpg" alt="White Water Rafting">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Bali/Rafting.jpg" alt="White Water Rafting">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>White Water Rafting</h1><br>
        <p>Before we booked our flights we wondered why this time of the year
          was so incredibly cheap to fly. After stepping off the plane it
          suddenly made a lot of sense.
          <br><br>
          This heat and humidity is KILLER and with 6 hours until hotel
          check in we were stuck in it.
          <br><br>
          The next day we scheduled an activity, you guessed it, rafting! I’d
          never done anything like this before and Keegan was freaking out but
          man was it a great time.
          <br><br>
          We got picked up from right outfront our hotel and taken far up north
          into the jungle, admiring the rice farms and giant swings along the way.
          <br><br>
          We received a short briefing and before we knew it were aboard rubber
          dinghies hurtling toward certain death.<br>
          The guides really enjoyed spazzing us out screaming ‘Alligator!’ and
          starting water fights with other guides in their own boats.
          <br><br>
          We routinely stopped for photos and drinks with the locals
          (At a fair price of course) and even got out in the middle of the
          river to have a quick shower in the waterfalls.
          <br><br>
          Some of the water banks where actually made up of stone that had
          carved drawings from hundreds of years ago.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Bali/Corner.jpg" alt="Walking through big garden corner">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Big Garden Corner</h1><br>
          <p>Whenever we adventured out of our hotel we got hounded by the
            public trying to sell us stuff or taxi’s beeping their horns
            relentlessly. On one and only one occasion we hopped a cab and
            asked to go to a monkey temple.
            <br><br>
            After reiterating at least 5 times he was going the wrong way the driver
            decided to tell us he was taking us somewhere else we genuinely didn’t want
            to go and after maybe half an hour of ramping anger and fear we just threw
            20,000 rupiah at him and jumped out at a red light.
            <br><br>
            Interestingly we emerged right at an interesting stop, The Big Garden Corner.
            It was a beautiful estate complete with giant statue animals and secret
            tunnels and houses. A real mini adventure of swings and bridges.
            <br><br>
            Later that night after an amazing meal from Dods burgers we walked along
            the beach with the waves lapping at our toes and live music echoing in
            the distance.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Bali/Corner.jpg" alt="Walking through big garden corner">
      </div>
    </div>
  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Bali/Scooter.jpg" alt="Riding Scooters">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Bali/Scooter.jpg" alt="Riding Scooters">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Peace and Freedom</h1><br>
        <p>Since the point of our time here was an escape, we decided to
          hire a scooter.<br>
          It was $8 for the day but of course had almost no fuel in it, after filing it
          and spending a little time out and about we took it back.
          <br><br>
          The next day we decided to hire the same scooter again, asking if we could
          have the same one which still sat exactly where we left it.<br>
          Suddenly they couldn't speak any english and that bike simply isn't working!
          How sad! But luckily they had plenty of others to choose from.
          <br><br>
          After filling that one up too because.. You guessed it was empty, we went
          on a long adventure south to the Uluwatu temple.
          <br><br>
          With keegan on the back directing we took back roads in the beating sun
          around tight bends and grass taller than I. What a great feeling.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Bali/Temple.jpg" alt="Sea Side Temple Uluwatu">
  <img src="../static/images/Bali/Selfie.jpg" alt="Seaside selfie">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Uluwatu Temple</h1><br>
          <p>We arrived at the temple and parked our scooter in the shade.<br>
            Kee was required to pay for (of course) a dress to cover her legs before
            we could enter the temple.
            Walking in the first thing we see is some monkeys just going at. It.
            Some throwing things at people and one chunky munky surrounded by tourists
            just chewing on a giant piece of bread.
            <br><br>
            Past the temple was the massive cliffside overlooking enormous waves crashing
            into the rock face.
            <br><br>
            The view was stunning, the fauna even more so, but the heat was probably
            going to kill us soon so we quickly reboarded the scooter and headed home.
            <br><br>
            On the way we got stopped by police and not so subtly asked for $50 AUD to be about our way.
            Given our flight was literally that night we hadnt much on us, only $15.
            The respectable officer snatched it out of Keegans wallet and told us to
            hurry off, never making eye contact.<br>
            What a country, can’t wait to tell them to eat my international drivers permit next time
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Bali/Temple.jpg" alt="Sea Side Temple Uluwatu">
        <img src="../static/images/Bali/Selfie.jpg" alt="Seaside selfie">
      </div>
    </div>

  </div>
</div>
{% endblock %}
