{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/China/ChinaFlagHeading.jpg');">
  <h1>People's Republic of China</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2017, October<br><br>
            Federation University gave me the life changing opportunity to travel
            to south China in Shaoguan to study a single intense course
            (Web development actually) with a Chinese University.
            <br><br>
            I made life long friends, saw the world in a way I didnt know was
            possible.
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted autoplay>
          <source src="../static/videos/China.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in China</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #CA0D0D;"></div>

<div class="mobile-image">
  <img src="../static/images/China/Shaoguan.jpg" alt="Class infront of Shifu">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/China/Shaoguan.jpg" alt="Class infront of Shifu">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Study Abroad in Shaoguan</h1><br>
        <p>My classmates and I flew into Guangzhou and took the train north to Shaoguan. The University we came to was absolutely massive and more like a small city than a school.<br>
          We got to meet the locals at an introductory dinner and settled into our new accommodation with no time to waste as tomorrow classes began.
          <br><br>
          This was an accelerated course so instead of one lecture and one tutorial per week we had both in one day, everyday, for the next 10 days plus assignments.
          <br><br>
          I actually loved this style of learning and it meant every minute counted.
          <br><br>
          I forged great friendships during this intense time, not only with the local chinese but my Australian mates. To this day (Writing in 2020) I still talk to just about all of them.

        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/China/Mates.jpg" alt="Selfie with Students">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Extra Curricular Activities</h1><br>
          <p>Each weekend between classes was something exciting.<br>
            The first weekend we had mixed martial arts training, Lion Dancing and english spelling B’s which I absolutely nailed because I've actually spoken english most of my life.
            <br><br>
            Other times we ventured into Shaoguan city itself, a small village of 7 million people.

          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/China/Mates.jpg" alt="Selfie with Students">
      </div>
    </div>
  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/China/Canal.jpg" alt="Cold morning canals">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/China/Canal.jpg" alt="Cold morning canals">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Journey to Hunan</h1><br>
        <p>After finishing the course our class said goodbye to our sister University and headed north-west toward Hunan.
          <br><br>
          Along the way we stayed in breathtaking river towns with rickety wooden single file bridges to cross the icy water.
          <br><br>
          We visited a village completely run by women. Men in this culture have to spend years proving their worth.
          <br><br>
          We visited the University of Changda, where Chairman Mao began the great march.

        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/China/Mountain.jpg" alt="Tianman Mountain">
  <img src="../static/images/China/Bridge.jpg" alt="Glass Suspension Bridge">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Tianmen Mountain and the Worlds Largest Glass Suspension Bridge</h1><br>
          <p>Next we visited the world's largest glass suspension bridge which I still can’t remember crossing.
            <br><br>
            Finally we adventured Tianman mountain, known for extreme sports and being the inspiration for the 2009 movie Avatar.

          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/China/Mountain.jpg" alt="Tianman Mountain">
        <img src="../static/images/China/Bridge.jpg" alt="Glass Suspension Bridge">
      </div>
    </div>

  </div>
</div>

{% endblock %}
