{% extends "base.html" %} {% block extrahead %} {% endblock %} {% block body %}
<div class="backdrop">
    <div id="quote">
        <h1>Time is always with the people who <br> have the courage to fly.</h1>
    </div>

    <div class="maincontent">
        <div class="row">

            <div class="column">
                <div class="left-column">
                    <div class="left-column-float-left">
                        <div class="dogpic"></div>
                        <h1>A Travel Blog to Read Today, Filled With <br> Adventures of a Lifetime.</h1>
                        <br>
                        <p>Hello there, If you're reading this, you're looking at a passion project I developed in a cave with a box of scraps.<br><br> This 'travel blog' is one of my first real attempts at a beautiful website, using as many technologies
                            and best practices a developers needs. <br> It contains a destination-by-destination diary of my travels around the world. It may be light now, but I'm certain with time it will be bellowing with unrivalled stories.</p>
                        <br><br><br><br>
                        <div class="about" style="border: 0.5px solid white;">
                            <a target="_blank" href="https://drive.google.com/file/d/1n_OeORBeWiLDK0aICHyTHQQlfjdr2Bgn/view?usp=sharing">
                                <p style="font-size: 14px;">Learn More About Franklin</p>
                            </a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="right-column">
                    <img src="../static/images/Homebase/dogpic.jpg" alt="Just a pic of me and my puppy Floki" style="width: 500px; height:310px; border-radius: 4px;">
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>
    </div>
    <div class="Home-Footer-Fix" style="visibility: hidden;">
        <br><br><br><br><br><br><br><br>
    </div>
</div>
{% endblock %}