{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Japan/JapanFlagHeading.jpg');">
  <h1>Japan</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2020, February<br><br>
            To celebrate finishing my bachelors degree in Information Technology, <br>
            I was faced with a devoid few months between graduation and
            my lecturing role in China. <br><br>
            What to do?
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted autoplay>
          <source src="../static/videos/Japan.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in Japan</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #9d2933;"></div>

<div class="mobile-image">
  <img src="../static/images/Japan/Satsuki.jpg" alt="Kee and her pupil">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Japan/Satsuki.jpg" alt="Kee and her pupil">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Stopover in Manila</h1><br>
        <p> My partner Keegan chose to come with, in fact it was her idea. She has been
          to this marvelous country multiple times in her life, once with her father
          and once more with her high school. (What kind of schools send kids overseas??)
          So you could say she knows a thing or two, mainly the language which she studied
          for many years.<br><br>
          We set off from Tullamarine in Melbourne first stopping a night in the Philippines
          at Manila merely to scratch that off my list. You can check that out briefly
          here. <br><br>
          Shortly after we launched from Manila to Osaka in Japan, our new home away from home.
          Within two weeks of arriving the USA closed its borders to Eruope and the
          epidemic of COVID-19 would change the world forever, you can imagine how Kee and
          I reacted…
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Nintendo.jpg" alt="Nintendo Headquarters">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Dotonbori and Pokemon Centre</h1><br>
          <p> We went to Osaka’s wild street food and tourist attraction, Dotonbori.
            Taking in the scenes of Running Man, Cheese melted onto Cheese on sticks
            and DIY grill. <br><br>
            Not long after that and with no lockdowns officially called we headed to
            the Pokemon Centre and observed the theft that is preying on folks
            nostalgia for stuffed pikachus. It was neat to see life sized abras but
            ultimately it was beyond our 22 year old budgets so we headed home quite
            early. While cooking dinner however we heard a horde of sirens echoing
            outside and investigated a building fire a mere two blocks away.
            Luckily it was an office building and late at night so it appeared empty.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Japan/Nintendo.jpg" alt="Nintendo Headquarters">
      </div>
    </div>
  </div>
</div>


<div class="mobile-image">
  <img src="../static/images/Japan/Fox.jpg" alt="Fox shrine">
  <img src="../static/images/Japan/Motchi.jpg" alt="Motchi Treat">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Japan/Fox.jpg" alt="Fox shrine">
          <img src="../static/images/Japan/Motchi.jpg" alt="Motchi Treat">
          <p id="motchi">Motchi - Flattened rice dough filled with cream and fruit</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Kyoto</h1><br>
        <p>The very last thing achieved before lockdown was a short visit to Kyoto, a mere 30 minute train ride from Osaka.
          Upon arriving we opted against taking a bus and instead walked, enjoying the sun and warming air hot off the fleeting heels of winter.
          We actually and completely obliviously stumbled across the Nintendo headquarters, which is actually designed after the original gamecube.
          <br><br>
          Soon we arrived at a little temple near Kyoto Station called ‘Toji’, which like the Pokemon centre steals directly from your back pocket. Looking back i think it even cost more to visit this little (yet stunningly well maintained) oasis
          than to visit the Tokyo Skytree or Disneyland.
          <br><br>
          Enroute to the Fox shrine Kee spotted a quaint little cafe with these innocent enough treats.
          Funnily enough I'd also met the love of my life that day and his name is Mochi. Don;t get me started on this tasty treat, sweet, chewy and full of fruit. These puppies are to die for.
          <br><br>
          After an ambitiously long walk we arrived at the Fushimi Inari Taisha Shrine of Senbontori.
          THis would be our last time seeing real crowds, packed shoulder to shoulder thousands of tourists crowded the tight hallways up the mountain.
          I’m not sure what you’d call the colour, Keegan says Fox-Orange, I say generic Orange but the official color is ‘Inari Red’ .
          <br><br>
          But before we could visit any more destinations in this pulchritudinous valley the sun was setting and Keegan kranky, little did we know it would be 3 months before we’d visit another attraction again.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Bike.jpg" alt="Wet ride home from work">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Three Months of Quarantine</h1><br>
          <p>
            So what did we do?
            Well I started and soon after quit Japanese classes. Have you tried to learn anything beyond Hiragana? It’s legitimately one of the hardest things if ever known and I’m so proud of Kee for sticking to it and as far as I'm aware, becoming
            a native at the language.
            <br><br>
            I began learning to program, mainly with Python which I soon fell in love with. Now i’m learning web development. Can you guess what one of the first things i’m making is?
            Keegan got really into drawing and is actually working on her commissions as we speak, she also played an unhealthy amount of Animal Crossing.
            <br><br>
            But that’s boring, you want to know what I did in Japan, well, I actually got a job.
            I couldn't speak japanese so that limited my options by 99.9% and everything was shutting down so goodbye teaching and tutoring jobs.
            Alas, one late afternoon (brekkie time) I got an offer to interview about a bag lifting job.
            <br><br>
            Nothing special but it did pay the bills, my job was to stack chemicals in a warehouse and get paid very well for it. I worked with a friendly Frecnhmen called Loris and spent my time listening to the Joe Rogan Podcast and PKA.
            <br><br>
            Fun side note, I got approached while at work by a modelling agency looking for extras in a movie. They sent me to get headshots but I never heard back.
            <br><br>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Japan/Bike.jpg" alt="Wet ride home from work">
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Sakura.jpg" alt="Sakura CHerry Blossoms">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Japan/Sakura.jpg" alt="Sakura CHerry Blossoms">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Sakura Cherry Blossoms</h1><br>
        <p>Okay I lied, we did go out ONCE to see the rare Sakura cherry blossoms. The mix of splendid scenery and almost no other people made for one of the most memorable days in my life. Just walking along the river bank, the only white person
          around, really made the quarantine feel… not so bad.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Golden.jpg" alt="Golden Pavillion">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Kyoto (Part 2)</h1><br>
          <p>
            After the announcement that it was safe to travel again, the first place we revisited was Kyoto. But this time with months of Japanese experience under our belts.
            <br><br>
            First stop, bicycles.
            We rode far up the west side of Kyoto, waving to rice farmers and locals along the way (I guess i’m rare now?) and arriving at the Bamboo forest.
            This little spot, again like the sakura park, was borderline empty. So empty in fact we got to ride through the forest which is normally very much impossible.
            <br><br>
            Next was a very cruisy slog up the steep and unrelenting mountainside to the Golden Pavilion.
            This place of Zen made for some gorgeous photos. JKoi fish circled around food deposits and pebbles lay methodically raked into straight lines along each and every garden bank.
            <br><br>
            After a brisk ride down the streets of Kyoto at a speed that would make Han Solo jealous. We arrived at the Imperial Palace. I’m sure it’s an amazing place but at this point we were just too tired to really explore it.
            We headed into the main section that housed the emperor's quarters and throne rooms. The entire establishment was lined with manicured gardens, gates the size of a kaiju and symbols on nearly every surface.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Japan/Golden.jpg" alt="Golden Pavillion">
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Castle.jpg" alt="Osaka Castle">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Japan/Castle.jpg" alt="Osaka Castle">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Osaka Castle</h1><br>
        <p>One of the last places we visited in Osaka was the famous castle.
          This beast is impregnable and built to withstand any attack. Which is why it was once destroyed by Togukawa troops and rebuilt, again destroyed by lightning and then rebuilt once more, even withstanding the air raids of world war two.

          We couldn't go inside since we arrived so late but we did explore the outside gardens and enormous moat.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Dome.jpg" alt="Atomic Bomb Dome">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Hiroshima</h1><br>
          <p>
            I love Bullet Trains! They are magical, affordable and I need them in my life.
            Anyways, we took one to Hiroshima, the great city best known for the tragedy at the end of World War Two.
            Our first stop was the Peace park and Monument. The dome here lay directly beneath the atomic blast and survives to this day as a reminder. Similarly a small flame known as ‘the eternal’ flame will remain lit until the day humanity
            absolves all nuclear weapons.
            <br><br>
            You can read more about the peace park elsewhere since there's no way I can do it justice but if you don’t know much then I highly recommend looking into it.
            <br><br>
            After the park we took a train and ferry ride to Itsukushima Shrine, a massive monument off the coast.
            Weirdly we didn't see a single soul when we arrived except for many local deer. I genuinely panicked thinking we’d be stranded since maybe we shouldn't have been there. But in reality it was the beginning of monsoon season so most of the
            business had already shut down.
            <br><br>
            Further, the shrine was under renovations, so we kinda wasted a day. But we enjoyed the gorgeous sunset and had fish n’ chips at an american restaurant.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Japan/Dome.jpg" alt="Atomic Bomb Dome">
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/Bunny.jpg" alt="Bunny Island">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Japan/Bunny.jpg" alt="Bunny Island">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Bunny Island</h1><br>
        <p>
          The next day we took a short but quirky train ride through the valleys and hills toward the Bunny Island ferry terminal.
          We stocked up on treats, selfies and snacks and departed soon after.
          <br><br>
          The island actually used to be used for chemical weapons testing but was discontinued after World War Two by the allies.
          However there still remains the ruins of what happened. Including laboratories, storage chambers (Burned to a crisp with flame throwers) and old electrical generation plants.
          <br><br>
          If you can look past all that you’ll find literally thousands of cute bunnies to pet and feed, each with a distinct personality.
          Keegan loved it here and we stayed nearly all day.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Japan/SkyTree.jpg" alt="Tokyo Skytree">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Tokyo + Fuji</h1><br>
          <p>TBD By Keegan 12st August 2020</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Japan/SkyTree.jpg" alt="Tokyo Skytree">
      </div>
    </div>

  </div>
</div>

{% endblock %}
