{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Malaysia/MalaysiaFlagHeading.jpg');">
  <h1>Malaysia</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2019, July<br><br>
            5 broke early 20 year-olds (Myself, Aengus, Keegan, Wally and Valentina)
            set forth on a mid year getaway to asia for some cheap and easy exploration.
            <br><br>
            Valentina thought of everything, including giving everyone the flu.
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted autoplay>
          <source src="../static/videos/Malaysia.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in Malaysia</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #D6B913;"></div>

<div class="mobile-image">
  <img src="../static/images/Malaysia/Bus.jpg" alt="Pilling into the bus">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Malaysia/Bus.jpg" alt="Pilling into the bus">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Bussing to Kuala Lumpur</h1><br>
        <p> Don’t ask why but for some reason I had the bright idea to have us
          fly into Singapore first and then take a bus to Kuala Lumpur. It was
          a long 6 hour journey but comfortable and let us see the rapidly
          developing country side.
          <br><br>
          After a movie night and a nice sleep we boarded a tour bus toward the
          Genting Highlands.
          On the way we had a quick stop at the Batu Caves and high fived some monkeys
          (Vaccines pending) and enjoyed some stop start traffic into the mountains.
          <br><br>
          At the base we could see a strange city-like structure at the summit.
          Our guide gave us some cash and sent us up the chair lift. We got a few
          photos of course but there wasn't much to see given the extreme overcast.
          <br><br>
          When we emerged from the cloud cover we were genuinely saddened to see
          parks and buildings all empty and abandoned. To this day I don't know if
          something happened or it was a bad time.
          <br><br>
          But when our lift took us inside it was like when wreck it ralphs goes
          to the internet. Lights, rides sounds and shops everywhere! 7 stories of
          craziness going on.
          <br><br>
          We shopped around a bit, Keegan got asked to model for some randoms and I
          bought heaps of ice cream.
          <br><br>
          After we got bored we did head back down and went back to our hotel.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Malaysia/Batu.jpg" alt="Raining at the Batu Caves">
  <img src="../static/images/Malaysia/Monkeys.jpg" alt="Monkey Date">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Batu Caves with Monkeys</h1><br>
          <p>We had another tour guide who was a little more involved.<br>
            He took us back to the Batu caves for a much more exciting excursion to the top.
            <br><br>
            Fortunately it was absolutely beautiful weather and oh wait never mind it
            changed as soon as we made it.<br>
            I feel bad for Keegan and Val who had to wear leg coverings because the
            descent back to the bottom was quite wet. Aengus elected to not pay the
            $5 for an umbrella.
            <br><br>
            Despite the weather the caves made for a spectacular place to visit. <br>
            The ceiling was covered in sharp daggers of rock over 10 stories high with
            foliage growing out of ever wet crack to be seen.
            <br><br>
            Later after a little drying off we arrived at a monastery known for holding
            off invasions of the british when Malaysia resisted colonization.
            There we got to feed some very friendly monkeys with bananas, leaves and nuts.
            In return they would climb all over us, making for cute photo opportunities.
            <br><br>
            After nightfall we got to enjoy a.. Suspiciously tasty meal before hopping
            on water craft to take in the fireflies along Kuala Selangor.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Malaysia/Batu.jpg" alt="Raining at the Batu Caves">
        <br><br>
        <img src="../static/images/Malaysia/Monkeys.jpg" alt="Monkey Date">
      </div>
    </div>
  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Malaysia/Infinity.jpg" alt="View of Kuala Lumpur from Our Hotel Roof">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Malaysia/Infinity.jpg" alt="View of Kuala Lumpur from Our Hotel Roof">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Regalia Suite's Rooftop Infinity Pool</h1><br>
        <p>I should mention we stayed at a fairly well known destination called
          Regalia Suite, which is famous for its infinity pool view overlooking the
          Kuala Lumpur city scape.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Malaysia/Towers.jpg" alt="Water Show Under the petronas Towers">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Petronas Towers Water Show</h1><br>
          <p>On the final night Keegan and I ventured to the famous Petronas
            towers and enjoyed the night gardens with light and water shows.
            <br><br>
            But that wasnt all, check the menu for the next phase of our trip, Singapore.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Malaysia/Towers.jpg" alt="Water Show Under the petronas Towers">
      </div>
    </div>

  </div>
  <br><br><br><br><br><br>
</div>

{% endblock %}
