{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Nepal/NepalFlagHeading.jpg');">
  <h1>Nepal</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2018, November<br><br>
            I got the awesome opportunity to volunteer with the Australia Navy
            outreach program in Nepal.
            <br><br>
            I undertook training for my SPL (Student Pilot license) but ended up
            running point on developing broadband infrastrucuture and training
            rural students media and technical literacy.
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted autoplay>
          <source src="../static/videos/Nepal.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in Nepal</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #E7E7E7;"></div>

<div class="mobile-image">
  <img src="../static/images/Nepal/Temple.jpg" alt="Posing at a Temple">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Nepal/Temple.jpg" alt="Posing at a Temple">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Volunteering</h1><br>
        <p>4 years ago the Australian Navy reached out to cadets with an exciting opportunity to help developing countries in an attempt to improve Australia's reputation abroad. <br>
          At the time I didn't know what country, the focus was on nations with the most need in the Indo-Pacific region.
          <br><br>
          In April 2015, Nepal was tragically struck by a 7.8 magnitude earthquake which caused severe damage to buildings, roads and lives. Having lived there, OH&S isn't really a thing, most buildings are full of windows and made from low quality
          concrete built 10 stories high on steep cliff sides.
          <br><br>
          Much of the remote areas in Nepal already lacked decent communications with the rest of the world and after the incident many had been completely cut off. With the Nepalese government in shambles these areas likely wouldn't see any
          attention for many years. This is where we came in.
          <br><br>
          After nearly not being allowed on my flight because my ticket was booked incorrectly I arrived in Kathmandu at the beginning of Winter.
          <br><br>
          After that I boarded a few busses and eventually arrived in Dhulikhel for some training and getting to know the team.
          <br><br>
          Many of the other volunteers were here to teach in local schools but sadly seemed to only be doing it for the internet clout. Often spending hours getting the perfect posing or writing massive sad speeches on social media but never actually
          helping the locals.
          <br><br>
          The second day I met the engineers I’d be working with and as a bit of a team building exercise we built a water tank on the roof of one of the schools that used an old electric motor to very slowly pump water to a tank on the school's
          roof.<br>
          During the day the tank would then run down into the childrens bathrooms and hand washing stations allowing much cleaner water.

        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Nepal/Trench.jpg" alt="Deep Trench for Copper Wires">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Laying Copper in Dhulikel</h1><br>
          <p>After 3 days in Dhulikhel we headed far north into the mountains.
            <br><br>
            The mission was to get tens of kilometres of copper networks built into these rural areas for 3G. We actually learned how to fly helicopters months earlier since it was likely the supplies couldn't be carried any other way, But we ended
            up being able to take a single terrifying road.
            <br><br>
            I was relieved not to be flying but still not out of the woods. Much of the digging was done by hand and in treacherous conditions. We had to work mainly in the dark and without much light to make sure the work was done as secretly as
            possible.
            <br><br>
            Why? Because in developing nations Copper is a highly valued commodity and so if you don’t bury it deep, hidden and protected enough it will be stolen.
            <br><br>
            After 2 weeks of running copper, hooking in and testing repeaters we finished our work and left what was left to the locals as it was mostly non-technical trenching and laying.
            <br><br>
            Onto visiting the schools in the nearby villages who had been without any broadband for 3 years.

          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Nepal/Trench.jpg" alt="Deep Trench for Copper Wires">
      </div>
    </div>
  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Nepal/Teach.jpg" alt="Teaching Students how to PC">
  <img src="../static/images/Nepal/Kid.jpg" alt="Messing around with the students">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Nepal/Teach.jpg" alt="Teaching Students how to PC">
          <img src="../static/images/Nepal/Kid.jpg" alt="Messing around with the students">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Teaching IT in Rural North Pokhara</h1><br>
        <p>I split off from the engineers and met up with those other volunteers. I was fairly saddened by the effort they put into teaching and I was keen not to be the same, especially since I only had 2 days at 2 schools and 1 at a highschool.
          <br><br>
          I donated laptops I had repaired to the students and taught them some basics of safely surfing the web, asking google how to do things, recording themselves on video and even a little gaming.
          <br><br>
          It was mind blowing seeing kids react to touch screens or movies, I believe some of them hadn't seen a single screen in their lifetime.

        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Nepal/Hike.jpg" alt="Hiking Circuit">
  <img src="../static/images/Nepal/Annapurna.jpg" alt="Mount Annapurna">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Hiking Mount Annapurna Circuit</h1><br>
          <p>After a month of hard work it was time to relax, what better way than a gentle stroll?
            <br><br>
            The hike was a 5 day circuit to a high-up village I sadly can’t remember the name of but it was close to Mount Annapurna.
            <br><br>
            The first day a bus that only runs about once per week drove us a significant distance up the mountainside before we could begin the hike.<br>
            The first two days were lovely as it was mostly level walking with slight ups and just stunning ravines and scenery.
            <br><br>
            On the third day I enjoyed a delicious plate of Chicken MoMos and… Got food poisoning, which wasn't so bad since I just needed to purge, rest and drink water. Except I only brought 4 liters of Fresh water. I ended up drinking tap water
            not realising the terrible terrible mistake and I got mild blood poisoning (Mercury and something else) ON TOP of the food poisoning.
            <br><br>
            The worst part was that even if I headed back a bus wouldn't be able to pick me up for another 2 days, meaning I'd have nowhere to stay, so the best thing to do was march on ahead. The guides assured me it was far easier going ahead and I
            believed them.
            <br><br>
            The mountain soon became nearly a sheer rock face, every step burned and I genuinely felt I was going to die (Keep in mind I didn't know about any blood poisoning yet).
            <br><br>
            I’ll skip over how tremendously bad the whole thing felt both physically and mentally but when we finally finished and made it back to Pokhara I needed copious amounts of Saline, electrolytes, antibiotics and a few days on oxygen but I
            made a decent recovery in hospital.

          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Nepal/Hike.jpg" alt="Hiking Circuit">
        <img src="../static/images/Nepal/Annapurna.jpg" alt="Mount Annapurna">
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Nepal/Skydive.jpg" alt="Skydiving over Kathmandu">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Nepal/Skydive.jpg" alt="Skydiving over Kathmandu">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Paragliding over Kathmandu</h1><br>
        <p>Due to losing most of my final week on a deathbed, I wanted to do something really exciting but also not too rigorous.
          <br><br>
          I met a Ukrainian man in a pizza bar in Kathmandu who offered to take me paragliding with his Nepalise mates over the valley, I couldn't refuse.
          <br><br>
          The view was indescribable, cannot recommend it enough.

        </p>
      </div>
    </div>

  </div>
</div>

{% endblock %}
