{% extends "base.html" %} {% block extrahead %} {% endblock %} {% block body %}
<div class="flag-heading" style="background-image: url('../static/images/NewZealand/NZFlagHeading.jpg');">
    <h1>New Zealand</h1>
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column">
                <div class="left-column-float-right">
                    <h1>2019, November<br><br> Sam, Wally and myself felt a celebration was due since graduation.
                        <br><br> Dodsley wanted to come too and together we’d protect the ring bearer, onward to Middle-Earth.
                    </h1>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <a target="_blank" href="https://drive.google.com/file/d/1OUmNB91zRmkWj2AfySzbttXWhdtlVU3E/view?usp=sharing">
                    <img src="../static/videos/NZplayPoster.jpg" alt="NewZealand Placeholder Image" style="width:420px; height:240px;">
                </a>
                <p id="watch-vid">Watch my personal Music Video in New Zealand</p>
            </div>
        </div>

    </div>
</div>

<div class="divider" style="border-bottom: 1px solid #1D1FB5;"></div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Plains.jpg" alt="New Zealands Rolling Hills">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <img src="../static/images/NewZealand/Plains.jpg" alt="New Zealands Rolling Hills">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <h1>No Car For Us</h1><br>
                <p> We arrived at ChristChurch on the southern island, tired and sore. But soon we’d be in our hire car and headed for Tekapo, unless of course something unforeseen stopped us.
                    <br><br> Yep, I made the booking with rentalcars.com making sure the company we originally booked with allowed for under 25 year olds. Yet when they changed our booking to a different company they elected to omit that special request
                    even when I asked them to make sure.
                    <br> We did receive a partial refund since it was their fault (and I had proof) but it was a headache I hoped to avoid.
                    <br><br> Luckily we got a new hire with a new company and journeys off to the west just fine (After trying the local cuisine, Maccas (Or as they call it in kiwi land, McDonalds).
                </p>
            </div>
        </div>

    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Cottage.jpg" alt="Shepherds Cottage">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <h1>Lake Tekapo</h1><br>
                    <p>
                        After a rather dangerous drive (We were pretty tired) we made it to the stunningly blue lake of Tekapo, known best for the old Shepherd's Cottage sitting by the banks with it’s vivid purple flowers spoked everywhere. <br> It’s
                        said it’s impossible to take a bad photo of this monument and I believe it.
                        <br><br> We spent the night skipping rocks on the lake and giggling like schoolgirls at baby ducks.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <img src="../static/images/NewZealand/Cottage.jpg" alt="Shepherds Cottage">
            </div>
        </div>
    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Cook.jpg" alt="Hiking Mount Cook">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <img src="../static/images/NewZealand/Cook.jpg" alt="Hiking Mount Cook">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <h1>Mount Doom</h1><br>
                <p>
                    The next day was predominantly spent driving. <br> We first visited the top of a mountain nearby tekapo for a hot breakfast then drove through valleys and mountains on our way to the famous Queenstown.
                    <br><br> After that was a brief and very easy walk up to Mount Cook. Luckily we brought plenty of water or we would have been severely dehydrated and sunburnt <br> (Spoiler, we didn't).
                    <br><br> When we finally arrived we saw a stupidly long line to a single burger joint which we unanimously dismissed as a silly place to visit.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Luge.jpg" alt="The Luge Chair Lift">
    <img src="../static/images/NewZealand/Ferg.jpg" alt="Famous Ferg Burger">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <h1>Queenstown</h1><br>
                    <p>
                        We woke up early and walked into town to meet up with other tourists and took a bus out to Arrowhead. <br> Quadbikes was the agenda and boy was it a blast. We rode through private land up and down rivers and raced across paddocks.
                        The weather turned maybe 3 times so we ended up both wet, dusty and overheated all in one morning.
                        <br><br> After getting back and a much needed shower we headed up the mountain to the famous Luge ride. It’s a neat little go kart track that uses the power of gravity and what looks unsafe speeds (But actually feels just fine).
                        <br><br> That night after Dods snoring woke Sam, Wally and I up we snuck out to visit that burger joint.
                        <br><br> Ferg Burger as we came to know it, is the tale of a man who ran his own little burger cart that became so well known to tourists (Who spread its name around the world) it became a must have.
                        <br><br> If you’ve never been to NZ it is a must have. Food coma for days, loved it.

                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <img src="../static/images/NewZealand/Luge.jpg" alt="The Luge Chair Lift">
                <img src="../static/images/NewZealand/Ferg.jpg" alt="Famous Ferg Burger">
            </div>
        </div>

    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Greytown.jpg" alt="Drive to Greytown">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <img src="../static/images/NewZealand/Greytown.jpg" alt="Drive to Greytown">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <h1>To GreyTown</h1><br>
                <p>Another day spent driving through the gorgeous mountain ranges and across terrifying single lane bridges.<br> Dods got intimate with his sunburn and made sure we knew it too.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/NewZealand/Haglund.jpg" alt="All terrain Haglund">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <h1>Antarctic Center</h1><br>
                    <p>
                        ChristChurch is a popular launching point for expeditions to Antarctica and so hosts a neat museum and science centres. <br> Outside you’ll find rows of American C-170s, Haaglands (Like trucks with treads designed for all weather)
                        and Sam's favorite, Huskies!
                        <br><br> Inside were neat activities like a 4D cinema, penguins zoo and a nice cold fan for Dods sunburn.
                        <br><br> Before we left though we had to ride a haagland on an obstacle course, made for stomach lurching experience.
                        <br><br> We still had time before our flight and so visited the centre of ChristChurch, riding around on electric scooters and being yelled at by the locals.
                        <br><br> Our flight actually got cancelled so we stayed the night in pure luxury at Qantas’ expense before flying home the next morning.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <img src="../static/images/NewZealand/Haglund.jpg" alt="All terrain Haglund">
            </div>
        </div>

    </div>
    <br><br><br><br><br><br>
</div>


{% endblock %}