{% extends "base.html" %} {% block extrahead %} {% endblock %} {% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Singapore/SingaporeFlagHeading.jpg');">
    <h1>Singapore</h1>
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column">
                <div class="left-column-float-right">
                    <h1>2019, August<br><br> After a spectacular few days in Malaysia it was time to go broke or go home in the famous pirate den of Singapore.
                        <br><br> Onward, to the Economic Tiger of Asia.
                    </h1>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <a target="_blank" href="https://drive.google.com/file/d/1eysI2GL03ESTvtjzWebQYT7EgxP_vOnf/view?t=13m26s">
                    <img src="../static/videos/SGplayPoster.jpg" alt="Singapore Placeholder Image" style="width:420px; height:240px;">
                </a>
                <p id="watch-vid">Watch my personal Music Video in Singapore</p>
            </div>
        </div>
    </div>
</div>

<div class="divider" style="border-bottom: 1px solid #C63512;"></div>

<div class="mobile-image">
    <img src="../static/images/Singapore/Lion.jpg" alt="The Merlion">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <img src="../static/images/Singapore/Lion.jpg" alt="The Merlion">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <h1>The Merlion</h1><br>
                <p>Given I was still quite sick I elected to instead take a bus to Singapore rather than flying with the others (Pretty severe ear pain). I enjoyed the comfort but the driver had some kind of a burp problem and I was stuck right behind him,
                    yuck!
                    <br><br> The next morning we all headed to the Orchard shopping centre and while having lunch a local sat with us offering a lucky-dip for some keychain accessories.
                    <br> After that I was forced into some shopping by the thots, followed by visiting every fresh orange juice dispenser on Orchard street while riding electric scooters.
                    <br><br> We grabbed a grab (taxi) and got off at the famous Merlion, at least we thought, when we asked the driver to take us to the Merlion we assumed it was 5 minutes away and by the water, not the 20 minutes away and in the middle
                    of a park, life is weird sometimes.
                    <br><br> Heat is immense this hour of the day so we loaded up on ice cream and whinged about the cost, after Malaysia this place is a mad rip off.
                    <br><br> The park was neat with water features and chairlifts, I wanted to bungee jump but Frank didn’t so we decided not to.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/Singapore/Lift.jpg" alt="Chair Lift Over Singapore">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <h1>Gondola Tour of the City</h1><br>
                    <p>After that we boarded the Singapore Gondola adenturing far across the island. Trundling past towers, over harbours, along Universal Studios and several parks. <br> All the while we jammed to Life is a highway on my tinny phone speakers
                        and took selfies.
                        <br><br> I don’t seem to have taken a photo but the amount of large ships out to sea was unfathomable, it reminded me of the planet Coruscant from Star Wars.
                        <br><br> Later Keegan came out and we hit the scooters again for a little 1-on-1 adventure through the city late into the night.
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <img src="../static/images/Singapore/Lift.jpg" alt="Chair Lift Over Singapore">
            </div>
        </div>
    </div>
</div>

<div class="mobile-image">
    <img src="../static/images/Singapore/Forrest.jpg" alt="Stunning GLowing Forest">
    <img src="../static/images/Singapore/Eyes.jpg" alt="Reflection of the forest of kees Eyes">
</div>

<div class="maincontent">
    <div class="row">

        <div class="column">
            <div class="left-column-image">
                <div class="left-column-float-right">
                    <img src="../static/images/Singapore/Forrest.jpg" alt="Stunning GLowing Forest">
                    <img src="../static/images/Singapore/Eyes.jpg" alt="Reflection of the forest of kees Eyes">
                </div>
            </div>
        </div>

        <div class="column">
            <div class="right-column">
                <h1>Cloud Forest</h1><br>
                <p>On our last night we had to see the mighty Gardens by the Bay, bordered by the Marina Bay towers. <br> We went late (Resulting in us not being able to ENTER, but nonetheless stunning). The trees glow vividly with colours and spectators
                    take awkward up-the-snoz photos, luckily they are hard to see in this lighting.
                    <br><br> Surrounding the trees is a stretch of animal reserves and aquariums stalked by cats and other cheeky animals.
                    <br><br> We had an enormous dinner in the sweltering heat and checked out the entire bay-walk area, revelling in the fact none of us could really afford to do anything ‘exciting’, but, knowing one day we will.
                    <br><br> All in all Singapore (And Malaysia) were some of the greatest countries I've ever enjoyed, I’d love to do it again with some sort of a budget but I think the basic-ness of it is what made it special.
                </p>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br>
</div>


{% endblock %}