{% extends "base.html" %}

{% block extrahead %}
{% endblock %}


{% block body %}
<div class="flag-heading" style="background-image: url('../static/images/Singapore/SingaporeFlagHeading.jpg');">
  <h1>Singapore</h1>
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column">
        <div class="left-column-float-right">
          <h1>2019, August<br><br>
            After a spectacular few days in Malaysia it was time to go broke or
            go home in the famous pirate den of Singapore.
            <br><br>
            Onward, to the Economic Tiger of Asia.
          </h1>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <video width="420" height="240" controls muted autoplay>
          <source src="../static/videos/Singapore.mp4" type="video/mp4">
        </video>
        <p id="watch-vid">Watch my personal Music Video in Singapore</p>
      </div>
    </div>

  </div>
</div>

<div class="divider" style="border-bottom: 1px solid #C63512;"></div>

<div class="mobile-image">
  <img src="../static/images/Singapore/Lion.jpg" alt="The Merlion">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Singapore/Lion.jpg" alt="The Merlion">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>The Merlion</h1><br>
        <p> We arrived at ChristChurch on the southern island, tired and sore.
          But soon we’d be in our hire car and headed for Tekapo, unless of
          course something unforeseen stopped us.
          <br><br>
          Yep, I made the booking with rentalcars.com making sure the company we
          originally booked with allowed for under 25 year olds. Yet when they changed
          our booking to a different company they elected to omit that special request
          even when I asked them to make sure.
          <br>
          We did receive a partial refund since it was their fault (and I had proof) but
          it was a headache I hoped to avoid.
          <br><br>
          Luckily we got a new hire with a new company and journeys off to the west
          just fine (After trying the local cuisine, Maccas (Or as they call it in kiwi
          land, McDonalds).
        </p>
      </div>
    </div>

  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Singapore/Lift.jpg" alt="Chair Lift Over Singapore">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <h1>Gondola Tour of the City</h1><br>
          <p>
            After a rather dangerous drive (We were pretty tired) we made it to the
            stunningly blue lake of Tekapo, known best for the old Shepherd's Cottage
            sitting by the banks with it’s vivid purple flowers spoked everywhere. <br>
            It’s said it’s impossible to take a bad photo of this monument and I believe
            it.
            <br><br>
            We spent the night skipping rocks on the lake and giggling like schoolgirls at
            baby ducks.
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <img src="../static/images/Singapore/Lift.jpg" alt="Chair Lift Over Singapore">
      </div>
    </div>
  </div>
</div>

<div class="mobile-image">
  <img src="../static/images/Singapore/Forrest.jpg" alt="Stunning GLowing Forest">
  <img src="../static/images/Singapore/Eyes.jpg" alt="Reflection of the forest of kees Eyes">
</div>

<div class="maincontent">
  <div class="row">

    <div class="column">
      <div class="left-column-image">
        <div class="left-column-float-right">
          <img src="../static/images/Singapore/Forrest.jpg" alt="Stunning GLowing Forest">
          <img src="../static/images/Singapore/Eyes.jpg" alt="Reflection of the forest of kees Eyes">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="right-column">
        <h1>Cloud Forest</h1><br>
        <p>
          The next day was predominantly spent driving. <br>
          We first visited the top of a mountain nearby tekapo for a hot breakfast then
          drove through valleys and mountains on our way to the famous Queenstown.
          <br><br>
          After that was a brief and very easy walk up to Mount Cook. Luckily we brought
          plenty of water or we would have been severely dehydrated and sunburnt <br>
          (Spoiler, we didn't).
          <br><br>
          When we finally arrived we saw a stupidly long line to a single burger joint
          which we unanimously dismissed as a silly place to visit.
        </p>
      </div>
    </div>

  </div>
</div>


{% endblock %}
